@use '../utils/variables' as *;

.about {
    min-height: 100vh;
}

.about__main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    user-select: none;
    .about__name { font-size: $font-size-6xl; };
    .about__status { font-size: $font-size-xl; };
}

.about__photo {
    width: 100px;
    border-radius: 100%;
}

.about__socials {
    display: flex;
    gap: 10px;
}

.about__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: $color-white;
    color: $color-black;
    font-size: $font-size-xl;
    padding: 50px 100px;
    div:first-child { font-weight: bold; }
}

@media screen and (max-width: $breakpoint-mobile-max) {
    .about__main {
        padding: 32px 16px;
    }
    .about__info {
        font-size: $font-size-xs;
        padding: 25px 16px;
    }
}

@media screen and (min-width: $breakpoint-tablet-min) and (max-width: $breakpoint-tablet-min) {
    .about__info {
        padding: 25px 75px;
    }
}
