.portfolio_main {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--text-xl);
    font-weight: 700;
    padding: 50px;
}

.portfolio_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: var(--primary-white);
    padding: 20px 140px;
}

.portfolio_info_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--primary-black);
}

.portfolio_info_card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.portfolio_info_card .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding: 50px 25px;
    gap: 40px;
}

.portfolio_info_card .info_name {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: var(--text-5xl);
    font-weight: 900;
    text-align: center;
}

.portfolio_info_card .info_discription {
    font-size: var(--text-xl);
    text-align: center;
}

.portfolio_info_card_inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--primary-black);
    overflow: hidden;
}

.portfolio_info_card_inline img {
    width: 90%;
    max-width: 400px;
    height: 300px;
    object-fit: cover;
}

.portfolio_info_card_inline .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding: 15px 25px;
    gap: 40px;
}

.portfolio_info_card_inline .info_name {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: var(--text-5xl);
    font-weight: 900;
    text-align: center;
}

.portfolio_info_card_inline .info_discription {
    font-size: var(--text-xl);
    text-align: center;
}

@media screen and (max-width: 767px) {
    .portfolio_main {
        padding: 25px 16px;
    }
    .portfolio_info {
        padding: 25px 16px;
    }
    .portfolio_info_card .text {
        padding: 25px 25px;
        gap: 20px;
    }
    .portfolio_info_card .info_name {
        font-size: var(--text-lg);
    }
    .portfolio_info_card .info_discription {
        font-size: var(--text-sm);
    }
    .portfolio_info_card_inline {
        flex-direction: column;
    }
    .portfolio_info_card_inline img {
        width: 100%;
        max-width: 100%;
    }
    .portfolio_info_card_inline .text {
        padding: 15px 25px;
        gap: 20px;
    }
    .portfolio_info_card_inline .info_name {
        font-size: var(--text-lg);
    }
    .portfolio_info_card_inline .info_discription {
        font-size: var(--text-sm);
    }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
    .portfolio_main {
        padding: 40px 75px;
    }
    .portfolio_info {
        padding: 25px 75px;
    }
    .portfolio_info_card .text {
        padding: 25px 25px;
        gap: 20px;
    }
    .portfolio_info_card_inline {
        flex-direction: column;
    }
    .portfolio_info_card_inline img {
        width: 100%;
        max-width: 100%;
    }
    .portfolio_info_card_inline .text {
        padding: 15px 25px;
        gap: 20px;
    }
}
