@use '../utils/variables' as *;

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #00000050;
    padding: 24px;
    font-size: $font-size-lg;
}

.footer__source {
    transition: all 0.3s ease;
    &:hover { transform: scale(1.05); }
}
