@use '../utils/variables' as *;

.form__btn,
.contacts__feedback-btn {
    font-family: $font-secondary;
    background: $color-white;
    border: none;
    color: $color-black;
    font-size: $font-size-lg;
    padding: 10px;
    transition: all 0.3s ease;
    &:hover { transform: scale(1.05); }
    &:active { transform: scale(0.95); }
}

.form__btn--cancel,
.form__btn--submit {
    flex: 1;
}
