@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.skill-card {
    @include flex-center();
    gap: 30px;
    background-color: var(--primary-black);
    padding: 20px 30px;
    min-width: fit-content;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    &:hover { transform: translateY(-5px) scale(1.05); }
}

.skill-card__icon {
    @include flex-center();
    width: 48px;
    height: 48px;
    background-color: var(--primary-white);
}

.skill-card__info {
    color: var(--primary-white);
    white-space: nowrap;
    flex-shrink: 0;
    div:first-child { font-weight: 900; }
}
