.card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: var(--primary-black);
    padding: 20px 30px;
    min-width: fit-content;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px) scale(1.05);
}

.card_img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: var(--primary-white);
}

.card_info {
    color: var(--primary-white);
    white-space: nowrap;
    flex-shrink: 0;
}

.card_info div:first-child {
    font-weight: 900;
}
