*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --mobile-max: 767px;
    --tablet-min: 768px;
    --tablet-max: 1023px;
    --desktop-min: 1024px;

    --primary-black: #1b1b1b;
    --primary-white: #e5e5e5;

  --text-xs: 0.75rem;       /* 12px */
  --text-sm: 0.875rem;      /* 14px */
  --text-base: 1rem;        /* 16px */
  --text-lg: 1.125rem;      /* 18px */
  --text-xl: 1.25rem;       /* 20px */
  --text-2xl: 1.5rem;       /* 24px */
  --text-3xl: 1.875rem;     /* 30px */
  --text-4xl: 2.25rem;      /* 36px */
  --text-5xl: 3rem;         /* 48px */
  --text-6xl: 3.75rem;      /* 60px */
  --text-7xl: 4.5rem;       /* 72px */
  --text-8xl: 6rem;         /* 96px */
  --text-9xl: 8rem;         /* 128px */
}

body {
    background: var(--primary-black);
    color: var(--primary-white);
    font-family: "Nunito", "Roboto", "Helvetica", "Arial", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

#tsparticles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    backdrop-filter: blur(1px);
        background-color: var(--primary-black);
    opacity: 0.8;
    z-index: 100;
}

main {
    z-index: 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    user-select: none
}

.nav_menu {
    display: flex;
    gap: 40px;
}

.about {
    min-height: 100vh;
}

.about_main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:25px;
    user-select: none
}

.about_main .name {
    font-size: var(--text-6xl);
}

.about_main .status {
    font-size: var(--text-xl);
}

.photo_user {
    width: 100px;
    border-radius: 100%;
}

.socials {
    display: flex;
    gap: 10px;
}

.has-tooltip {
    width: 24px;
}

.about_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: var(--primary-white);
    color: var(--primary-black);
    font-size: var(--text-xl);
    padding: 50px 100px;

}

.about_info div{
    font-weight: bold;
}


.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.skills_main {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--text-xl);
    font-weight: 700;
    padding: 50px;
}

.skills_info {
    display: flex;
    gap: 40px;
    background-color: var(--primary-white);
    padding: 20px 40px;

    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
}   

.cards_container {
    display: flex;
    gap: 40px;
    animation: slide-back-forth 8s ease-in-out infinite alternate;
    will-change: transform;
}

.cards_container:hover {
animation-play-state: paused !important; 
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: var(--primary-black);
    border-radius: 30px;
    padding: 20px 30px;
    min-width: fit-content;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px) scale(1.05);
}

.card_img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: var(--primary-white);
    border-radius: 20px;
}

.card_info {  
    color: var(--primary-white);
    white-space: nowrap;
    flex-shrink: 0;
}

.card_info > div:first-child {
    font-weight: 900;
}

@keyframes slide-back-forth {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% + 100vw - 100px));
    }
}
