body {
    background: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: var(--font-primary, "Nunito", "Roboto", "Helvetica", "Arial", sans-serif);
    transition: all 0.3s ease;
}

a {
    color: var(--text-color);
    text-decoration: none;
}
