body {
    background: var(--primary-black);
    color: var(--primary-white);
    font-family: "Nunito", "Roboto", "Helvetica", "Arial", sans-serif;
}

a {
    color: var(--primary-white);
    text-decoration: none;
}
