body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-primary, "Nunito", "Roboto", "Helvetica", "Arial", sans-serif);
}

a {
    color: var(--text-color);
    text-decoration: none;
}
